<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
    
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script>
	   Kakao.init('///'); // 사용하려는 앱의 JavaScript 키 입력
	   
	   function kakaoLogin(){
	      window.Kakao.Auth.login({
	         scope:'profile_nickname,account_email',
	         success: function(authObj){
	            console.log(authObj);  // 토큰 출력
	            window.Kakao.API.request({
	               url: '/v2/user/me',
	               success: res => {
	                  const name = res.properties.nickname;
	                  console.log(res.kakao_account.email);
	                  console.log(res.properties);
	                  
	                  $.ajax({
	                	url : "/members/socialCheck",
	                	data : {username:res.kakao_account.email, name:name},
	                	success : function(data){
	                		$("#k_username").val(res.kakao_account.email);
	                		$("#k_password").val("12");
	                		$("#loginForm").submit();
	                	}
	                  });
	                  
	               }
	            });
	            
	         }
	      });
	   }
	</script>
	
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h4 class="text-center mb-4">로그인</h4>
                
                <!-- 카카오 로그인 스크립트 적용되는 form 태그 / 아이디, 비번 hidden으로 넘김 -->
                <form th:action="@{/members/login}" method="post" id="loginForm">                	
                	<input type="hidden" id="k_username" name="username"/>
                	<input type="hidden" id="k_password" name="password"/>
                </form>
                
                <form th:action="@{/members/login}" method="post" >
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    
                    <div th:if="${param.error}">
						<div class="alert alert-danger">
							ID 또는 비밀번호를 확인해주세요.
						</div>
					</div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="username">아이디</label>
                        <input class="form-control" type="text" id="username" name="username"/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">비밀번호</label>
                        <input class="form-control" type="password" id="password" name="password"/>
                    </div>
                    
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-dark">로그인</button>
                    </div>

                    <div class="d-flex justify-content-end mb-5">
                        <a href="/members/idLostForm" class="btn btn-link text-muted">아이디/비밀번호를 잊으셨나요?</a>
                    </div>
                </form>

                <div class="text-center mb-4">
                    <h5 class="mb-3">간편 로그인</h5>
                    <div class="d-grid gap-2">
                        <a href="javascript:kakaoLogin()" class="btn btn-warning">카카오 로그인</a>
                        <a href="#" class="btn btn-success">네이버 로그인</a>
                    </div>
                </div>

                <div class="text-center mb-4">
                    <p class="text-muted mb-2">회원이 아니시라면?</p>
                    <a href="/members/signup" class="btn btn-secondary w-100">회원가입</a>
                </div>
            </div>
        </div>
    </div>
    
	
</html>
