<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h4 class="text-center mb-4">비밀번호 변경</h4>
                
                <form action="/members/pwChange" method="post" th:object="${membersDTO}">
                	<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                	<div th:replace="~{form_errors :: formErrorsFragment}"></div>
                	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                	
                	<input type="hidden" name="username" th:if="${username != null and username != ''}" th:value="${username}" />
                	
                	<div class="mb-3" sec:authorize="isAuthenticated()">
                        <label class="form-label" for="password">기존 비밀번호</label>
                        <input class="form-control" type="password" id="password" name="password" required/>
                    </div>
                	
                	<div class="mb-3" sec:authorize="isAuthenticated()">
                        <label class="form-label" for="newpassword">새 비밀번호</label>
                        <input class="form-control" type="password" id="newpassword" name="newpassword" required/>
                    </div>
                    
                    <div class="mb-3" sec:authorize="isAnonymous()">
                        <label class="form-label" for="password">새 비밀번호</label>
                        <input class="form-control" type="password" id="password" name="password" required/>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="password2">새 비밀번호 확인</label>
                        <input class="form-control" type="password" id="password2" name="password2" required/>
                    </div>
                    
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-dark">비밀번호 변경</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>