<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container my-3">
    <h2 class="py-2">반 정보 관리</h2>
    
    <!-- 경고 메시지 -->
    <div class="alert alert-info" role="alert">
      반에 강아지나 교사가 있을 경우, 반 삭제를 할 수 없습니다. 강아지 또는 교사를 다른 반으로 옮긴 후 삭제해 주세요.
    </div>
    
    <!-- 반 추가 버튼 -->
    <div class="row my-3">
      <div class="col-12 text-end">
        <a th:href="@{/month/create}" class="btn btn-dark btn-sm">+ 반 추가하기</a>
      </div>
    </div>
    
    <!-- 해당 지점 반 리스트 -->
    <div class="card">
      <div class="card-body p-0">
        <table class="table table-hover mb-0">
          <thead class="thead-light">
            <tr>
              <th scope="col">반 이름</th>
              <th scope="col">담임교사</th>
              <th scope="col">정원</th>
              <th scope="col">학생 수</th>
              <th scope="col">반 삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="group : ${monthcare}">
              <td>
              	<a th:href="@{|/month/update/${group.id}|}" th:text="${group.name}"></a>
              </td>
              <td th:text="${group.teacher.name}"></td>
              <td th:text="${group.capacity}"></td>
              <td th:text="${group.capacity}"></td>
              <td>
                <a th:href="@{|/month/delete/${group.id}|}" class="btn btn-secondary">삭제</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>