<!DOCTYPE html>
<html  lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Happy Jelly - 강아지 상세조회</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
		.dog-image {
		    width: 200px;
		    height: 200px;
		    object-fit: cover;
		    border-radius: 50%;
		    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
		    transition: all 0.3s ease;
		}
</style>
</head>
<body>
  <nav th:replace="~{navbar::navbarFragment}"></nav>
  <div layout:fragment="content" class="container my-5">
    <h2 class="text-center mb-4">강아지 상세조회</h2>
    
    <div class="text-center mb-4">
	    <img th:if="${dogdetail.dog_profile}==null" class="dog-image" src="/images/dog_imoji.png">
	    <img th:if="${dogdetail.dog_profile}!=null" class="dog-image" th:src="'/dogs/display?filename='+${dogdetail.dog_profile}" alt="강아지 사진">
	</div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 my-5">
            <form action="/dogs/profile" method="post" enctype="multipart/form-data">
	            <input type="file" name="profile">
	            <input type="hidden" name="dog_id" th:value="${dogdetail.dog_id}">
	            <input type="submit" value="사진등록" class="btn btn-warning me-md-2">
            </form>
    </div>
    <form th:action="@{/dogs/update}" method="post" th:object="${dogsDTO}" th:if="${dogdetail != null}" class="needs-validation" novalidate>
        <div class="row g-3">
        <input type="hidden" name="dog_id" th:value="${dogdetail.dog_id}">
            <div class="col-md-6">
                <label for="classInfo" class="form-label">반정보</label>
                <select class="form-select" id="classInfo" name="classInfo">
                    <option value="마키꽁뽕">마키꽁뽕</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="dogname" class="form-label">강아지이름</label>
                <input type="text" class="form-control" id="dogname" th:name="dogname" th:value="${dogdetail.dogname}">
            </div>
            <div class="col-md-6">
                <label for="breed" class="form-label">품종</label>
                <input type="text" class="form-control" id="breed" name="breed" th:value="${dogdetail.breed}">
            </div>
            <div class="col-md-6">
                <label class="form-label">성별</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="male" th:field="${dogdetail.gender}" value="M">
                        <label class="form-check-label" for="male">수컷</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" th:field="${dogdetail.gender}" value="F">
                        <label class="form-check-label" for="female">암컷</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="birthDate" class="form-label">생년월일</label>
                <input type="date" class="form-control" id="birthDate" name="birth_date" th:value="${dogdetail.birth_date}">
            </div>
            <div class="col-md-6">
                <label for="dog_serialnum" class="form-label">일련번호</label>
                <label class="form-control" th:text="${dogdetail.dog_serialnum}"></label>
            </div>
            <div class="col-md-6">
                <label for="admissionDate" class="form-label">입학일자</label>
                <input type="date" class="form-control" id="admissionDate" name="admissionDate" th:value="${dogdetail.birth_date}">
            </div>
            <div class="col-md-6">
                <label for="graduationDate" class="form-label">퇴소(예정)일자</label>
                <input type="date" class="form-control" id="graduationDate" name="graduationDate" th:value="${dogdetail.birth_date}">
            </div>
            <div class="col-md-6">
                <label class="form-label">견주</label>
                <label class="form-control" th:text="${dogdetail.member.name}"></label>
            </div>
            <div class="col-md-6">
                <label for="contact" class="form-label">연락처</label>
                <label class="form-control"  th:text="${dogdetail.member.phone}"></label>
            </div>
        </div>
        
        <div class="mt-4">
            <label for="notes" class="form-label">주의사항 및 특이사항</label>
            <textarea class="form-control" id="notes" name="notes" rows="4" th:text="${dogdetail.dogname}"></textarea>
        </div>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4" th:object="${dogsDTO}" >
            <button type="submit" class="btn btn-warning me-md-2">수정하기</button>
            <button type="button" class="btn btn-warning me-md-2" onclick="location.href='/dogs/myDogList'">강아지 목록</button>
            <a th:href="@{|/admissions/${dog_id}|}" class="btn btn-dark">입학신청</a>
        </div>
    </form>
  </div>
  </body>
</html>