<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container my-3">
    <h2 class="border-bottom py-2">내 강아지 목록</h2>
    <!-- 강아지 추가 버튼 -->
    <div class="row my-3">
      <div class="col-12 text-end">
        <a href="/dogs/addDogs" class="btn btn-warning btn-sm">강아지 추가</a>
      </div>
    </div>
    
    <!-- 강아지 카드 리스트 -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <!-- 강아지 카드 반복 시작 -->
      <div th:if="${dogList != null and not #lists.isEmpty(dogList)}" th:each="dog : ${dogList}" class="col">
        <div class="card h-100 border-0">
          <div class="image-container" style="height: 200px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
            <a th:href="@{|/dogs/detail/${dog.dogId}|}" style="display: block; height: 100%;">
              <img th:if="${dog.dogProfile == null}" src="/images/dog_imoji.png" class="card-img-top" style="height: 100%; width: auto; object-fit: contain;" th:alt="${dog.dogname}">
              <img th:if="${dog.dogProfile != null}" th:src="@{'/dogs/display?filename=' + ${dog.dogProfile}}" class="card-img-top" style="height: 100%; width: auto; object-fit: contain;" th:alt="${dog.dogname}">
            </a>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title" th:text="${dog.dogname}"></h5>
          </div>
        </div>
      </div>
      <!-- 강아지 카드 반복 종료 -->
    </div>
    
    <!-- 등록된 강아지가 없을 때 메시지 -->
    <div th:if="${dogList == null or #lists.isEmpty(dogList)}" class="row justify-content-center mt-4">
      <div class="col-md-6 text-center">
        <div class="alert alert-danger" role="alert">
          등록된 강아지가 없습니다.
        </div>
      </div>
    </div>
  </div>
</html>