<!doctype html>
<html lang="ko">
<head>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
	<script type="text/javascript">
	  var naver_id_login = new naver_id_login("CcrDfmu_5ZJ49IWfQhHZ", "http://localhost:8080");
	  // 네이버 사용자 프로필 조회
	  naver_id_login.get_naver_userprofile("naverSignInCallback()");
	  // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
	  function naverSignInCallback() {
		var username = naver_id_login.oauthParams.access_token;
	    var name = naver_id_login.getProfileData('nickname');
	    
	    $.ajax({
	    	url : "/members/socialCheck",
	    	data : {username:username, name:name},
	    	success : function(data){
	    		$("#k_username").val(username);
	    		$("#k_password").val("12");
	    		$("#loginForm").submit();
	    	}
	    });
	  }
	</script>
	
	<form th:action="@{/members/login}" method="post" id="loginForm">                	
       	<input type="hidden" id="k_username" name="username"/>
       	<input type="hidden" id="k_password" name="password"/>
    </form>
    
</body>
</html>