<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Happy Jelly - 내 이용권 목록</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
    	body {
    		font-family: 'Noto Sans KR', sans-serif;
    	}
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<nav th:replace="~{navbar::navbarFragment}"></nav>
	<div class="container my-5">
		<h2 class="mb-4">내 이용권 조회</h2>
	</div>
</body>
</html>
