<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>새 매장 등록</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">새 매장 등록</h5>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/managingSys/branches/register}" th:object="${branchesDTO}" method="post" id="branchForm">
                            <div class="mb-3">
                                <label for="branchesName" class="form-label">매장명</label>
                                <input type="text" class="form-control" id="branchesName" th:field="*{branchesName}" required autocomplete="organization">
                            </div>
                            <div class="mb-3">
                                <label for="postCode" class="form-label">우편번호</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="postCode" th:field="*{postCode}" readonly autocomplete="postal-code">
                                    <button type="button" class="btn btn-secondary" id="searchAddressBtn">우편번호 찾기</button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">주소</label>
                                <input type="text" class="form-control" id="address" th:field="*{address}" readonly autocomplete="street-address">
                            </div>
                            <div class="mb-3">
                                <label for="address2" class="form-label">상세주소</label>
                                <input type="text" class="form-control" id="address2" th:field="*{address2}" autocomplete="address-line2">
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">전화번호</label>
                                <input type="tel" class="form-control" id="phone" th:field="*{phone}" required autocomplete="tel">
                            </div>
                            <input type="hidden" id="latitude" th:field="*{latitude}">
                            <input type="hidden" id="longitude" th:field="*{longitude}">
                            <button type="submit" class="btn btn-primary" id="submitBtn">등록</button>
                         <a th:href="@{/managingSys/branches}" class="btn btn-secondary">돌아가기</a>
                     </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
<script th:inline="javascript">
/*<![CDATA[*/
console.log("Script is running");

window.searchAddress = function() {
    console.log("searchAddress function called");
    new daum.Postcode({
        oncomplete: function(data) {
            console.log("Postcode data:", data);
            document.getElementById('postCode').value = data.zonecode;
            document.getElementById('address').value = data.address;
            document.getElementById('address2').focus();

            // 주소로 좌표 검색
            $.ajax({
                url: /*[[@{/managingSys/branches/geocode}]]*/ '/managingSys/branches/geocode',
                method: 'POST',
                data: {
                    postCode: data.zonecode,
                    address: data.address,
                    address2: document.getElementById('address2').value
                },
                success: function(response) {
                    console.log("Geocode response:", response);
                    if (response.latitude && response.longitude) {
                        document.getElementById('latitude').value = response.latitude;
                        document.getElementById('longitude').value = response.longitude;
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
    }).open();
}

document.addEventListener('DOMContentLoaded', function() {
    console.log("DOMContentLoaded event fired");
    var searchButton = document.getElementById('searchAddressBtn');
    if (searchButton) {
        console.log("Search button found");
        searchButton.addEventListener('click', function() {
            console.log("Search button clicked");
            window.searchAddress();
        });
    } else {
        console.error("Search button not found");
    }
});
/*]]>*/
</script>
</th:block>
</body>
</html>