<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
		<form action="/calendar/create" method="post">
		<!-- 가끔 자동으로 안생길때가 있더라 -->
<!--			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
			<input type="hidden" th:name="selectDate" th:value="${selectDate}" />

			<div class="border-bottom my-3 pb-2">
				<h2 th:text="${selectDate}"></h2>
			</div>
			
			<div class="mb-3">
				<label class="form-label">기분 : </label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">매우행복</label>
					<input type="radio" name="behavior" value="매우행복" class="form-check-input" />
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">행복</label>
					<input type="radio" name="behavior" value="행복" class="form-check-input" />
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">평범</label>
					<input type="radio" name="behavior" value="평범" class="form-check-input" />
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">우울</label>
					<input type="radio" name="behavior" value="우울" class="form-check-input" />
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">분노</label>
					<input type="radio" name="behavior" value="분노" class="form-check-input" />
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">최악</label>
					<input type="radio" name="behavior" value="최악" class="form-check-input" />
				</div>
			</div>
			
			<div class="mb-3">
				<label class="form-label">활동성 : </label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">활발</label>
					<input type="radio" name="activities" value="활발" class="form-check-input" />
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">평범</label>
					<input type="radio" name="activities" value="평범" class="form-check-input" />
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">무기력</label>
					<input type="radio" name="activities" value="무기력" class="form-check-input" />
				</div>
			</div>
			
			<div class="mb-3">
				<label class="form-label">식욕 : </label>
				<div class="form-check form-check-inline">
					<label class="form-check-label" for="meals1">왕성</label>
					<input class="form-check-input" type="checkbox" id="meals1" name="meals" value="왕성" />
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label" for="meals2">정상</label>
					<input class="form-check-input" type="checkbox" id="meals2" name="meals" value="정상" />
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label" for="meals3">부진</label>
					<input class="form-check-input" type="checkbox" id="meals3" name="meals" value="부진" />
				</div>
			</div>
			
			<div class="mb-3">
				<label class="form-label">건강상태 : </label>
				<div class="form-check form-check-inline">
					<label class="form-check-label" for="health1">건강</label>
					<input class="form-check-input" type="checkbox" id="health1" name="health" value="건강" />
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label" for="health2">불편</label>
					<input class="form-check-input" type="checkbox" id="health2" name="health" value="불편" />
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label" for="health3">아픔</label>
					<input class="form-check-input" type="checkbox" id="health3" name="health" value="아픔" />
				</div>
			</div>
			
			<div class="mb-3">
				<label class="form-label">배변활동 : </label>
				<div class="form-check form-check-inline">
					<label class="form-check-label">양호</label>
					<input type="radio" name="bowel" value="양호"  class="form-check-input"/>
				</div>
				<div class="form-check form-check-inline">
					<label class="form-check-label">나쁨</label>
					<input type="radio" name="bowel" value="나쁨"  class="form-check-input"/>
				</div>
			</div>
				
			<div class="mb-3">
				<label class="form-label">제목</label>
				<input type="text" name="title" th:value="${title}" class="form-control" />
			</div>
			<div class="mb-3">
				<label class="form-label">내용</label>
				<textarea type="text" name="contents" th:value="${contents}" rows="10" class="form-control"></textarea>
			</div>
		<input type="submit" value="작성하기/수정하기" class="btn btn-warning btn-sm my-2" />
		</form>
    </div>    
</html>